version: '3.8'
 
services:
  app:
    build: 
      context: .
    container_name: diagram-service
    environment:
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    command: npm run dev
